.nav_button {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gray;
    cursor: pointer;
    width: 80px;
    position: relative;
    padding: 10px 0;
}

.nav_button:hover {
    color: black;
}

.nav_button.active {
    color: black;
}

.nav_button_title {
    font-size: 13px;
    font-weight: 400;
}

.nav_button_icon {
    object-fit: contain;
    height: 25px !important;
    width: 25px !important;
}

.active > .activated {
    width: 90%;
    border-bottom: 2px solid black;
    position: absolute;
    bottom: 0;
}

