:root {
    --height: 60px;
}
.navbar {
    display: flex;
    justify-content: center;
    border-bottom: 0.1px solid lightgray;
    position: sticky;
    width: 100vw;
    top: 0;
    z-index: 999;
    height: var(--height);
    background-color: white;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    height: var(--height);
}

.header_left, .header_right{
    display: flex;
    align-items: center;
    height: var(--height);
}

.header_search {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 35px;
    color: gray;
    background-color: #eef3f8;
    transition: transform ease-out 0.3s;
}

.header_search:active {
    transform-origin: left;
    transform: scaleX(1.7);
}

.logo {
    object-fit: contain;
    height: 45px;
}

.header_search > input {
    outline: none;
    border: none;
    background: none;
    height: var(--height);
}

.main_buttons, .extra_buttons {
    display: flex;
    height: 100%;
}

.divider {
    width: 1px;
    background-color: lightgray;
    height: var(--height);
}